.container{
  transform: translate(-50%, -50%);
}

.location h1{
  text-shadow: 3px 3px 3px black;
}

.date{
  text-shadow: 2px 2px 2px black;
}

.weather-icon img{
  filter: drop-shadow(3px 3px 3px black);
}

.weather{
  text-shadow: 2px 2px 2px black;
}

.temp h1{
  text-shadow: 3px 3px 3px black;
}