.search-box .search-bar{
  outline: none;
  background-color: rgba(0, 0, 0, 0.35);
  color: #28313b;
  transition: 0.5s ease-in-out;
}

input::placeholder {
  color: white;
  opacity: 1; /* Firefox */
  transition: 0.5s ease-in-out;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
transition: 0.5s ease-in-out;
}

input::-ms-input-placeholder { /* Microsoft Edge */
color: white;
transition: 0.5s ease-in-out;
}

input:focus::placeholder {
  color: grey;
  opacity: 1; /* Firefox */
}

input:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: grey;
}

input:focus::-ms-input-placeholder { /* Microsoft Edge */
color: grey;
}

.search-box .search-bar:focus{
  background-color: rgba(255, 255, 255);
}